.card-img-top {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.link {
  font-size: 20px !important;
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
}
.link:hover {
  color: rgb(218, 218, 218) !important;
}
.navbar {
  background-image: url('./components/images/banner.jpg') !important;
  height: 80px;

  background-position: center;

  background-repeat: no-repeat;
}
